@page "/images"

@using System.IO;
@using DataLibrary
@using System.Text
@using Microsoft.Extensions.Configuration
@using Project2Cmpg323.Models

@inject IDataAccess _data
@inject IConfiguration _config



<div class="ImagesUploadDiv">
    <h3>Images</h3>
    <hr />
    <img src="@Image" style="width: 250px; height: 250px" /> <br />
    <label>Image Name:</label>
    <br />
    <input type="text" id="imgName" @bind-value="imgmodel.Images_Name" placeholder="Enter Image Name" />\
    <br />
    <InputFile OnChange="HandelFileSelected"></InputFile>
    <br />
    <button type="submit" class="btn-primary" @onclick="Submit">Insert</button>
    <br />
</div>



@code {

    ImagesModels imgmodel = new ImagesModels();

    List<ImagesModels> pictures;

    public string Image { get; set; }
    public string Images_Name { get; set; }

    protected override async Task OnInitializedAsync()
    {
        string sql2 = "select * from images";
        pictures = await _data.LoadData<ImagesModels, dynamic>(sql2, new { }, _config.GetConnectionString("default"));

    }

    private async Task HandelFileSelected(InputFileChangeEventArgs fileChangeEvent)
    {
        var file = fileChangeEvent.File;

        var buffer = new byte[file.Size];

        await file.OpenReadStream(1512000).ReadAsync(buffer);

        Image = $"data:image/png;base64,{Convert.ToBase64String(buffer)}";
    }

    private async Task Submit()
    {
        string sql = "insert into images(Images_Name,Images_Path) values (@ImageName,@ImagePath); ";
        await _data.SaveData(sql, new { ImageName = imgmodel.Images_Name, ImagePath = Image }, _config.GetConnectionString("default"));
    }

}
